body {
    background-color: #faffff;
}

.theme-colors {
    position: fixed;
    top: 0;
    left: 0;
    width: 62px;
    padding: 60px 10px 10px 10px;
    margin-bottom: 40px;
    height: 100%;
    border-right: 1px solid rgb(71, 166, 250);
    overflow-x: scroll;
    transition: all 0.4s;
    z-index: 100;
    background-color: #faffff;
    box-shadow: 0 0 10px rgb(208, 231, 252);
}

.theme-colors .theme-buttons>button>span {
    display: none;
}

.theme-icon {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: #ffffff;
    z-index: 150;
    border-bottom-right-radius: 6px;
}

.theme-colors.th-collapse {
    left: -200px;
}

.theme-buttons button {
    height: 30px;
    transition: all 0.4s;
}

@media (min-width: 992px) {
    .theme-colors {
        width: 200px;
        left: 0;
    }
    .theme-colors.th-collapse {
        left: 0;
        width: 62px;
    }
    .theme-colors .theme-buttons>button>span {
        display: inline-block;
    }
    .theme-colors.th-collapse .theme-buttons>button>span {
        display: none;
    }
    .theme-icon {
        border-bottom-right-radius: 0;
    }
}

.page-content {
    /* margin-left: calc(100% - 200px); */
    /* margin-left: 200px; */
    transition: all 0.4s;
}

.page-content.th-collapse {}

@media (min-width: 992px) and (max-width: 1550px) {
    .page-content {
        width: calc(100% - 250px);
        margin-right: 50px;
    }
}

.CodeMirror {
    line-height: 1.3;
}

.code_github .CodeMirror {
    height: 569px;
}

.code_stackof .CodeMirror {
    height: 592px;
}

.inline-code .CodeMirror {
    height: auto !important;
    margin: 15px 0;
}